LOCATE COMP "PORTA[7]" SITE "13" ;
LOCATE COMP "PORTA[6]" SITE "14" ;
LOCATE COMP "PORTA[5]" SITE "16" ;
LOCATE COMP "PORTA[4]" SITE "17" ;
LOCATE COMP "PORTA[3]" SITE "20" ;
LOCATE COMP "PORTA[2]" SITE "21" ;
LOCATE COMP "PORTA[1]" SITE "23" ;
LOCATE COMP "PORTA[0]" SITE "25" ;
LOCATE COMP "MEMADDR[7]" SITE "12" ;
LOCATE COMP "MEMADDR[6]" SITE "11" ;
LOCATE COMP "MEMADDR[5]" SITE "10" ;
LOCATE COMP "MEMADDR[4]" SITE "9" ;
LOCATE COMP "MEMADDR[3]" SITE "8" ;
LOCATE COMP "MEMADDR[2]" SITE "5" ;
LOCATE COMP "MEMADDR[1]" SITE "4" ;
LOCATE COMP "MEMADDR[0]" SITE "27" ;
SYSCONFIG I2C_PORT=DISABLE ;
IOBUF PORT "PORTA[0]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "PORTA[1]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "PORTA[2]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "PORTA[3]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "PORTA[4]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "PORTA[5]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "PORTA[6]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "PORTA[7]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "MEMADDR[3]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "MEMADDR[2]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "MEMADDR[1]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "MEMADDR[0]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "MEMADDR[4]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "MEMADDR[5]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "MEMADDR[6]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "MEMADDR[7]" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
